.parent
{
  position: absolute;
  left: 15%;
  right: 15%;
  margin-top: 25px;
}

.left
{
  float: left;
}

.photo
{
  position: relative;
  margin-bottom: 10px;
}

h1.block
{
  text-align: center;
  background-color: #DCA5FB;
  color: #0016D8;
  padding: 20px;
  height: 40px;
  margin: 0px;
  width: 300px;
  top: 0px;
  left: 0px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 300;
}

a.link1
{
  text-align: center;
  background-color: #CD7EFB;
  color: #0016D8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 2px;
  float: left;
  display: inline;
  width: 21.55%;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}

a.link2
{
  text-align: center;
  background-color: #A965FB;
  color: #0016D8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
  float: left;
  display: inline;
  width: 21.55%;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}

a.link3
{
  text-align: center;
  background-color: #8E4DF7;
  color: #0016D8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  float: left;
  display: inline;
  width: 21.56%;
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}

a.link1:hover
{
  transition: 0.6s;
  background-color: #FFFFFF;
}

a.link2:hover
{
  transition: 0.6s;
  background-color: #FFFFFF;
}

a.link3:hover
{
  transition: 0.6s;
  background-color: #FFFFFF;
}

hr
{
  height: 1px;
  border-width: 0px;
  width: 340px;
  position: relative;
}

.currentlies
{
  position: relative;
}

.right
{
  position: relative;
  left: 5%;
  min-width: 20px;
}

a.normalLink
{
  color: #424242;
  text-decoration: none;
}

a.normalLink:hover
{
  transition: 0.6s;
  color: #B3B2B3;
}

p
{
  font-family: Verdana, "Lucida Grande", helvetica, arial, sans-serif;
  font-weight: 400;
  color: #424242;
  letter-spacing: 0px;
  margin: 6px;
}

p.about
{
  text-align: left;
  margin-top: 0px;
  line-height: 23px;
}
